{% extends 'predictor/base.html' %}
{% load static %}

{% block content %}
<div class="page">
    <div class="container empty-space">

    </div>
    <div class="main-page">
        <div class="info-title-wrapper pt-4 pb-4">
            <div class="site-title-wrapper">
                <h1 class="page-title"><a href="/predictor"><i>predictor</i></a></h1>
            </div>
        </div>
        <form action="/predictor/prediction" method="post">
            <div class="container">
                <div class="row mb-3">
                    <div class="col-sm question-field">
                        {% csrf_token %}
                        {{ form.brand.label_tag }}
                        {{ form.brand }}
                    </div>
                    <div class="col-sm question-field">
                        {{ form.model.label_tag }}
                        {{ form.model }}
                    </div>
                    <div class="col-sm question-field">
                        {{ form.year.label_tag }}
                        {{ form.year }}
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-sm question-field">
                        {% csrf_token %}
                        {{ form.odometer.label_tag }}
                        {{ form.odometer }}
                    </div>
                    <div class="col-sm question-field">
                        {{ form.title.label_tag }}
                        {{ form.title }}
                    </div>
                    <div class="col-sm question-field">
                        
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm question-field">
                        {% csrf_token %}
                        {{ form.color.label_tag }}
                        {{ form.color }}
                    </div>
                    <div class="col-sm question-field">
                        {{ form.transmission.label_tag }}
                        {{ form.transmission }}
                    </div>
                    <div class="col-sm question-field">
                        {{ form.condition.label_tag }}
                        {{ form.condition }}
                    </div>
                </div>
            </div>

            <input class="btn btn-outline-light btn-submit" type="submit" value="Submit">
        </form>
    </div>

    <div class="container empty-space">

    </div>
</div>

{% endblock %}